= content_for :body_class, 'body-home'

.hero{ style: "background-image: url(#{@homePage.hero_image.file.url})" }
  .hero__pink-shard
  .wrapper.wrapper--hero
    %h1
      - if @homePage.url
        %a{ href: @homePage.url }
          = @homePage.hero_text
      - else
        = @homePage.hero_text

%section.home__events
  .wrapper.wrapper--filters
    - if @all_events.length > 3
      .filter-button.js-filter-button.button
        Filter
      
      .filters.js-filters
        = render 'shared/filters'

    .wrapper--events
      - @events.each do |event|
        = render 'events/event', event: event

-# %div{ style: 'text-align: center; margin-bottom: 100px;' }
-#   = link_to events_path, class: 'button button--inline' do
-#     See All Events
  
#section.home__sponsors
  .wrapper.wrapper--sponsors
    .sponsor
      = link_to 'https://www.edgemedianetwork.com', target: '_blank' do
        = image_tag 'edge_media_network_3.jpg'

    .sponsor
      = link_to 'https://www.titosvodka.com/', target: '_blank' do
        = image_tag 'titos.svg'

    .sponsor
      = link_to 'https://massculturalcouncil.org/', target: '_blank' do
        = image_tag 'mcc.png'

    .sponsor
      = link_to 'https://queerguru.com/', target: '_blank' do
        = image_tag 'queerguru.png'

    .sponsor
      = link_to 'https://www.lesbiannightlife.com/', target: '_blank' do
        = image_tag 'lesbian_nightlife.jpg'
