= content_for :title, @series.name
= content_for :description, @series.description

.series-shard-1
.series-shard-2

.wrapper
  %h1.highlight.series__title
    = @series.name

.wrapper.series__description
  %p.highlight
    = @series.description

- if @series.series_schedule
  .wrapper.series__description
    %p.highlight
      = link_to 'Download the series schedule', @series.series_schedule&.file&.url,target: '_blank'

.wrapper.wrapper--filters.l-mtxl
  - if @all_events.length > 3
    .filter-button.js-filter-button.button
      Filter
      
    .filters.js-filters
      = render 'shared/filters'

  .wrapper--events
    - @events.each do |event|
      = render 'events/event', event: event

    - (3 - @events.length % 3).times do
      .event-card__spacer
