%header.js-header
  %i.fa.fa-bars.fa-2x.header__menu.js-header-menu

  = render 'shared/logo_link'

  %nav.js-nav

    = link_to 'Donate', 'https://www.paypal.com/donate/?hosted_button_id=TPJS6RGSLFXT6', target: '_blank', class: 'donate-button'

    .nav__dropdown
      %span.nav__link
        Festival & Events
        %i.fa.fa-angle-down
      .nav__menu
        = link_to 'Film Festival 2023', festival_index_path, class: 'nav__link'
        = link_to 'WQ: Docs 2022', festival_path(id: 'doc-fest-2022'), class: 'nav__link'
        = link_to 'Film Festival 2022', festival_path(id: 'festival-2022'), class: 'nav__link'
        -# = link_to 'Festival Jury', '/jury', class: 'nav__link'
        = link_to 'Film Festival 2021', festival_path(id: 'festival-2021'), class: 'nav__link'
        = link_to 'Film Festival 2020', festival_path(id: 'festival-2020'), class: 'nav__link'
        = link_to 'Film Festival 2019', festival_path(id: 'festival-2019'), class: 'nav__link'
        = link_to 'Film Festival 2018', festival_path(id: 'festival-2018'), class: 'nav__link'
        -# = link_to 'Cinema Club', series_path(id: 'cinema-club'), class: 'nav__link'

    .nav__dropdown
      %span.nav__link
        Get Involved
        %i.fa.fa-angle-down
      .nav__menu
        -# = link_to 'Membership', '/membership', class: 'nav__link'
        = link_to 'Volunteer', '/volunteer', class: 'nav__link'

    = link_to 'About Us', '/about-us', class: 'nav__link'

    = link_to 'Shop', 'https://shop.wickedqueer.org/', class: 'nav__link', target: '_blank'
    
    = link_to 'https://filmfreeway.com/festivals/3319?utm_campaign=Wicked+Queer%3A+Boston%27s+LGBTQ%2B+Film+Festival&utm_medium=External&utm_source=Submission+Button', target: '_blank', title: 'Click to submit on FilmFreeway' do
      %img{src: 'https://storage.googleapis.com/filmfreeway-assets/submission_buttons/v2/sm_submission_btn@2x-purple-gradient.png', alt: "Submit on FilmFreeway", height: 32 }

